.text{
    text-align: center;
    color: green;
    font-family: fantasy;
}

.num{
    font-style: inherit;
    color: rgb(196, 65, 137);
    font-size: x-large;

}
a { 
    text-decoration: none;
    color: rgb(196, 65, 137);
    font-family: fantasy;
    font-size: x-large;
    }
