body {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background-color: rgb(236, 220, 164);
color: rgb(20, 60, 97);
font-family: Helvetica, sans-serif;
}

form {
    line-height: 25px;
    border: 3px solid;
    border-radius: 5%;
    border-style:dashed;
    padding: 15px;
 }

 .text {
    text-align: center;
 }

 input {
    border: 1px ridge rgb(20, 60, 97);
    border-radius: 3px;
  }
 
